################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/ParentConsoleApp/.vs
/ParentConsoleApp/obj
/ParentConsoleApp/bin/Debug/net8.0
